<script>
    import "../imba-component.imba"
</script>

<div style="border:1px solid gray; padding:10px;">
    <p>This is a component which includes an imba component</p>
    <p>You <em>should</em> see a blue box with a counter</p>
    <test-component></test-component>
</div>